{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/styleaccord.css') }}" rel="stylesheet" />{% endblock %}


{% block body %}

    <main class="mainaccord">
        <h2 class="h1">Accord <span>à domicile 130 €</span></h2>
        <p>
            L'accord ( ou l'accordage ) d'un piano consiste à ajuster les notes les unes aux autres par rapport à un diapason défini, généralement de 440Hz ou 442Hz.
        </p>
        <img class="imgaccord" src="{{ asset('facteuraccordeur/images/accordeur1.jpg') }}" alt="#">
        <h2 class="h2">Harmmonisation <span>à domicile 190 €</span></h2>
        <p>
            Selon la périodicité d'accordage de votre piano, une mise au ton préalable ( avant accord ) peut s'avérer nécessaire.
        </p>
    </main>

{% endblock %}
