{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylechgtpassword.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}
    <main class="mainchgtpassword">
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {{form(form)}}
    </main>
{% endblock %}
