{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/styleaccord.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

    <main class="mainaccord">

        <h2 class="h1">Réparation <span>sur devis en atelier</span></h2>
        <p>
            Des reprises, un réglage complet, des réparations ( pièces mécaniques, cordes, clavier... ), une égalisation ( cordage, ponçage, portées des marteaux, piquages... ) peuvent être réalisés.
        </p>
        <img class="imgaccord" src="{{ asset('facteuraccordeur/images/reparation.jpg') }}" alt="#">
        <h2 class="h2">Restauration <span>sur devis en atelier</span></h2>
        <p>
            Spécialiste de la restauration Antoine BERTHIER redonne vie à votre piano.
        </p>

    </main>

{% endblock %}
