{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/styleaccord.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}

<main class="mainaccord">

    <h2 class="hzone">Page en cours de construction</h2>
    
</main>

{% endblock %}
