{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Créer un nouvel utilisateur</h1>
        {{ include('admin/user/_form.html.twig') }}
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-primary m-1 col-2">Retour à la liste</a>
    </div>
{% endblock %}
