{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Créer une nouvelle couleur</h1>

        {{ include('couleur/_form.html.twig') }}

        <a href="{{ path('app_couleur_index') }}" class="btn btn-primary m-1 col-2">Retour à la liste</a>
    </div>
{% endblock %}
