.faadmindeconnexion{
    width: 36px;
    border-radius: 50%;
    
}

.adminindeximg{
    width: 100%;
    height: 110%;
}


.adminindexh1{
    margin-top: -170px;
    margin-left: 40vw;
    font-size: 3rem;
    font-weight: 700;
}

.adminphotoaccueilindexh1{
    margin-bottom: 50px;
}

.faadminsearch{
    margin-top: 18px;
}

/***********************barre de recherche dans faadmin******************/
#form{
    display: flex;
    flex-direction: row;
}
/**************************************************************************/

.adminselectionindexp{
    font-size: 1.8rem;
    font-weight: 700;
}
