{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/stylecheck.css') }}" rel="stylesheet" />{% endblock %}


{% block body %}

    <main class="maincheck">

        <p>
            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.<br><br>
            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <br>
        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

    </main>

{% endblock %}
