{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Modifier un magasin</h1>

        {{ include('magasin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_magasin_index') }}" class="btn btn-primary m-1 col-2">Retour à la liste</a>

        {{ include('magasin/_delete_form.html.twig') }}
    </div>
{% endblock %}
