{% extends 'faadmin.html.twig' %}
{% block stylesheets %}<link href="{{ asset('faadmin/css/stylebackoffice.css') }}" rel="stylesheet" />{% endblock %}


{% block body %}
<main style="height:84vh;background-repeat:no-repeat;background-image:url('{{asset('facteuraccordeur/images/clavierbo.png')}}')">
        <h1>test</h1>
</main>
{% endblock %}
