{% extends 'faadmin.html.twig' %}

{% block body %}
        <main>
                <img  class="indexbackofficeimg" src="{{asset('facteuraccordeur/images/clavierbo.png')}}" alt="#">
                <h1 class="indexbackofficetitre">Bienvenue dans le back-office</h1>
        </main>
{% endblock %}
