.cont_site{
	display: flex;
	flex-direction: column;
    align-items: center;
}

.mainformulaire{
    margin-top: 16vh;
    margin-bottom: 14vh;
    width: 80%;
}

.mainformulaire h1{
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    width: 100%;
}

.mainformulaire p{
    margin-bottom: 20px;
}

.mainformulaire .btn{
    width: 110px;
    font-size: 1.2rem;
}

.mainformulaire label{
    letter-spacing: 1px !important;
    font-size: 1.2rem;
}

.form-control::placeholder{
    color: #bfaa8c;
    font-style: italic;
}