.cont_site{
	display: flex;
	flex-direction: column;
    align-items:center;
    margin: 0 10vw 0 10vw;
}

.maincontact{
	margin-top: 18vh;
	margin-left: 0;
}

.maincontact img{
	margin-bottom: 10px;
}

.telephonecontact{
	width: 36px;
	border-radius: 50%;
}

.maincontact p{
	margin-bottom: 10vh;
}

.numero{
	font-size: 1.8rem;
}

.arobasecontact{
	width: 36px;
}

.maincontact a{
	width: 100px;
	padding: 4px 10px;
}

.info{
	font-size: 1.4rem;
	color: #b63515;
	text-align: center;
	margin-top: 10px;
}

.boutonformulairecontact{
	width: 200px !important;
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin-top: 0vh;
	margin-bottom: 4vh;
}

.chgtmdp{
	margin-bottom: 4vh;

}

@media only screen and (min-width: 400px){
    .maincontact{
        margin-top: 24vh;
    }
}