{% extends 'facteuraccordeur.html.twig' %}

{% block body %}

        <div class="maincontact">
            
            <h1>Pour accorder ou Restaurer votre piano</h1>
            <p>
                Vous pouvez me joindre par téléphone au <span>01-02-03-04-05 </span>
            </p>
            <p>
                Vous pouvez également m'envoyez un formulaire de contact.
            </p>

            {% if not is_granted("ROLE_USER") %}
            {# <li class="nav-item"> #}
                <p>
                    Pour envoyer le formulaire enregistrez vous.
                </p>
                <a class="nav-link" href="{{ path('app_register') }}">
                    <button type="submit" class="btn btn-lg btn-primary">Vous enregistrer</button>
                </a>
            {# </li> #}
            {# <li class="nav-item"> #}
                <p>
                    Si vous êtes déjà enregistré, loger vous directement.
                </p>
                <a class="nav-link" href="{{ path('app_login') }}">
                    <button type="submit" class="btn btn-lg btn-primary">Vous loger</button>
                </a>
            {# </li> #}
            {% else %}
                {# <li class="nav-item"> #}
                    <a class="nav-link" href="{{ path('app_logout') }}">
                    </a>
                {# </li> #}
                {# <li class="nav-item"> #}
                    <a class="nav-link" href="{{ path('app_formulaire') }}">
                        <button type="submit" class="btn btn-lg btn-primary">Formulaire de contact</button> 
                    </a>
                {# </li> #}
            {% endif %}

        </div>

{% endblock %}
