{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Modifier la sélection</h1>

        {{ include('admin/selection/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a href="{{ path('app_selection_index') }}" class="btn btn-primary m-1 col-2">Retour à la liste</a>

        {{ include('admin/selection/_delete_form.html.twig') }}
    </div>
{% endblock %}
