{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Créer une nouvelle sélection</h1>

        {{ include('admin/selection/_form.html.twig') }}

        <a href="{{ path('app_selection_index') }}" class="btn btn-success">Nouvelle sélection</a>
    </div>
{% endblock %}
