{% extends 'facteuraccordeur.html.twig' %}
{% block stylesheets %}<link href="{{ asset('facteuraccordeur/css/styleaccord.css') }}" rel="stylesheet" />{% endblock %}



{% block body %}

<main class="mainaccord">

    <h2 class="h1">Conseil - Achat - Location</h2>
    <p>
        Débutant, désireux de reprendre, envie de se perfectionner ou expert ?
    </p>
    <img class="imgaccord" src="{{ asset('facteuraccordeur/images/scene.jpeg') }}" alt="#">
    <h2 class="h2">Antoine BERTHIER</span></h2>
    <p>
        met à votre service ses connaissances et son espérience pour vous aider à acheter ou louer votre piano.
    </p>

</main>

{% endblock %}
