{% extends 'faadmin.html.twig' %}

{% block body %}
    <div class="card-body">
        <h1>Modifier la page d'accueil</h1>

        {{ include('admin/photoaccueil/_form.html.twig', {'button_label': 'Valider les modifications'}) }}

        <a href="{{ path('app_photoaccueil_index') }}" class="btn btn-primary m-1 col-2">Retour à la liste</a>

        {# {{ include('photoaccueil/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
