<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Base Facteur Accordeur</title>

    <link rel="stylesheet" href="./css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet"> 

</head>

<body>

    <header class="top_bar">

        <a href="#"><img class="image_menu" src="./images/menu.png" alt="#"></a>

        <div class="titretopbar">
           <h1>Facteur<br>Accordeur</h1> 
            <img class="logo" src="./images/logo.png" alt="#">
        </div>

    </header>

    <div class="container_site">

        <section>

            <h2>Mes prestations</h2>
            <div class="prestations">
                <a href=""><p>Accord - Harmonisation</p></a>
                <a href=""><p>Reparation - Restauration</p></a>
                <a href=""><p>Conseil Achat-Location</p></a>
            </div>
            <img src="./images/accordeur3.jpg" alt="#">
            <div class="renseignements">
                <a href=""><p>Urgence</p></a>
                <a href=""><p>Tarifs / Devis</p></a>
                <a href=""><p>Zone d'intervention</p></a>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bXf4NfOJ1Is" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </section>

        <main>

            <img class="img_main_accordeur" src="./images/accordeur1.PNG" alt="#">
            <div class="antoine"><h2>Antoine BERTHIER</h2></div>
            <img class="page_accueil" src="./images/page_accueil.png" alt="#">
            <div class="ile"><p>Île de<br>France</p></div>

        </main>


        <aside>
            <div class="accessoire">
                <figure>
                    <img  class="imgdiap" src="./images/diapason.PNG" alt="#">
                    <figcaption class="figdiap">Les diapasons</figcaption>
                </figure>
                <figure>
                    <img class="imgboit" src="./images/boite_outils.PNG" alt="#">
                    <figcaption class="figboit">Les accessoires</figcaption>
                </figure>
                <figure>
                    <img class="imgcle" src="./images/clef.PNG" alt="#">
                    <figcaption class="figcle">Les clefs</figcaption>
                </figure>
            </div>
            <div class="piano">
                <figure class="pianos_droits">
                    <figcaption class="figpiad">Les pianos droits</figcaption>
                    <img  class="imgpiad" src="./images/piano1.PNG" alt="#">
                </figure>
                <figure class="pianos_queues">
                    <figcaption class="figpiaq">Les pianos à queues</figcaption>
                    <img class="imgpiaq" src="./images/piano2.PNG" alt="#">
                </figure>
            </div>
        </aside>
    
    </div>

    <footer class="footer">
        
        <a href="#"><img class="arobase" src="./images/arobase.png" alt="#"></a>
        <a href="#"><img class="localisation" src="./images/localisation.jpg" alt="#"></a>
        <a href="#"><img class="telephone" src="./images/telephone.png" alt="#"></a>
        <a href="#"><img class="facebook" src="./images/facebook.jpg" alt="#"></a>
        <a href="#"><img class="mention_legale" src="./images/mention_legale.jpg" alt="#"></a>

    </footer>
    
</body>
</html>